<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="/stylesheets/commodity.css">
</head>
<body>
	<h1><%= ttt%></h1>
	<div class="box1">
		<span class="span1">ECSHOP管理中心 -</span>
		<b>商品列表</b>
		<span>
			<img src="/images/jnsy.png"/>
		</span>
		<span class="span2">添加新商品</span>
	</div>
	<div class="box2">
		<form>
			<img src="/images/icon_search.gif"/>
			<select class="select1">
				<option>所有分类</option>
				<option>钻石</option>
				<option>&nbsp;&nbsp;&nbsp;&nbsp;裤子</option>
				<option>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;休闲裤</option>
				<option>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;休闲裤</option>
				<option>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;休闲裤</option>
				<option>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;休闲裤</option>
				<option>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;休闲裤</option>
				<option>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;休闲裤</option>
				<option>&nbsp;&nbsp;&nbsp;&nbsp;衬衫</option>
				<option>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;短袖衬衫</option>
				<option>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;短袖衬衫</option>
				<option>&nbsp;&nbsp;&nbsp;&nbsp;外套</option>
				<option>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;棉服</option>
			<option>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;棉服</option>
			<option>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;棉服</option>
			<option>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;棉服</option>
			<option>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;棉服</option>
			<option>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;棉服</option>
			<option>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;棉服</option>
			</select>
			<select class="select2">
				<option>所有品牌</option>
				<option>溢彩年华</option>
				<option>溢彩年华</option>
				<option>溢彩年华</option>
				<option>溢彩年华</option>
				<option>溢彩年华</option>
				<option>溢彩年华</option>
				<option>溢彩年华</option>
				<option>溢彩年华</option>
				<option>溢彩年华</option>
				<option>溢彩年华</option>
				<option>溢彩年华</option>
				<option>溢彩年华</option>
				<option>溢彩年华</option>
				<option>溢彩年华</option>
				<option>溢彩年华</option>
				<option>溢彩年华</option>
				<option>溢彩年华</option>
				<option>溢彩年华</option>
				<option>溢彩年华</option>
			</select>
			<select class="select3">
				<option>全部</option>
				<option value="">精品</option>
				<option value="">精品</option>
				<option value="">精品</option>
				<option value="">精品</option>
				<option value="">精品</option>
			</select>
			<select class="select4">
				<option>全部</option>
				<option>上架</option>
				<option>下架</option>
			</select>
			<span>关键字</span>
			<input type="text">
			<button>搜索</button>
		</form>
	</div>
	<div class="box3">
		<div class="top">
			<input type="checkbox"/>
			<a href="#">编号</a>
			<a href="#" class="spacing">商品名称</a>
			<a href="#" class="spacing">货号</a>
			<a href="#" class="spacing">价格</a>
			<a href="#" class="spacing">上架</a>
			<a href="#" class="spacing">精品</a>
			<a href="#" class="spacing">新品</a>
			<a href="#" class="spacing">热销</a>
			<a href="#" class="spacing">推荐排序</a>
			<a href="#" class="spacing">库存</a>
			<a href="#" class="spacing">虚拟销量</a>
			<span class="spacing">操作</span>
		</div>
	</div>
	<div class="good_list">
		<div class="good_list1">
			<input type="checkbox" id="input1"/>247
			<span id="span1">5465465</span>
			<span id="span2">56757</span>
			<span id="span3">0.00</span>
			<img src="/images/yes.gif" alt="" id="img1"/>
			<img src="/images/yes.gif" alt="" id="img2"/>
			<img src="/images/yes.gif" alt="" id="img3"/>
			<img src="/images/yes.gif" alt="" id="img4"/>
			<span>100</span>
			<span id="good_list_span">1</span>
			<span id="good_list_span1">0</span>
			<img src="/images/icon_view.gif" alt="" id="img5"/>
			<img src="/images/icon_edit.gif" alt="" id="img6"/>
			<img src="/images/icon_copy.gif" alt="" id="img7"/>
			<img src="/images/icon_trash.gif" alt="" id="img8"/>
		</div>
		<div class="good_list2">
			<input type="checkbox" id="input1"/>247
			<span id="span1">5465465</span>
			<span id="span2">56757</span>
			<span id="span3">0.00</span>
			<img src="/images/yes.gif" alt="" id="img1"/>
			<img src="/images/yes.gif" alt="" id="img2"/>
			<img src="/images/yes.gif" alt="" id="img3"/>
			<img src="/images/yes.gif" alt="" id="img4"/>
			<span>100</span>
			<span id="good_list_span">1</span>
			<span id="good_list_span1">0</span>
			<img src="/images/icon_view.gif" alt="" id="img5"/>
			<img src="/images/icon_edit.gif" alt="" id="img6"/>
			<img src="/images/icon_copy.gif" alt="" id="img7"/>
			<img src="/images/icon_trash.gif" alt="" id="img8"/>
		</div>
		<div class="good_list3">
			<input type="checkbox" id="input1"/>247
			<span id="span1">5465465</span>
			<span id="span2">56757</span>
			<span id="span3">0.00</span>
			<img src="/images/yes.gif" alt="" id="img1"/>
			<img src="/images/yes.gif" alt="" id="img2"/>
			<img src="/images/yes.gif" alt="" id="img3"/>
			<img src="/images/yes.gif" alt="" id="img4"/>
			<span>100</span>
			<span id="good_list_span">1</span>
			<span id="good_list_span1">0</span>
			<img src="/images/icon_view.gif" alt="" id="img5"/>
			<img src="/images/icon_edit.gif" alt="" id="img6"/>
			<img src="/images/icon_copy.gif" alt="" id="img7"/>
			<img src="/images/icon_trash.gif" alt="" id="img8"/>
		</div>
		<div class="good_list4">
			<input type="checkbox" id="input1"/>247
			<span id="span1">5465465</span>
			<span id="span2">56757</span>
			<span id="span3">0.00</span>
			<img src="/images/yes.gif" alt="" id="img1"/>
			<img src="/images/yes.gif" alt="" id="img2"/>
			<img src="/images/yes.gif" alt="" id="img3"/>
			<img src="/images/yes.gif" alt="" id="img4"/>
			<span>100</span>
			<span id="good_list_span">1</span>
			<span id="good_list_span1">0</span>
			<img src="/images/icon_view.gif" alt="" id="img5"/>
			<img src="/images/icon_edit.gif" alt="" id="img6"/>
			<img src="/images/icon_copy.gif" alt="" id="img7"/>
			<img src="/images/icon_trash.gif" alt="" id="img8"/>
		</div>
		<div class="good_list5">
			<input type="checkbox" id="input1"/>247
			<span id="span1">5465465</span>
			<span id="span2">56757</span>
			<span id="span3">0.00</span>
			<img src="/images/yes.gif" alt="" id="img1"/>
			<img src="/images/yes.gif" alt="" id="img2"/>
			<img src="/images/yes.gif" alt="" id="img3"/>
			<img src="/images/yes.gif" alt="" id="img4"/>
			<span>100</span>
			<span id="good_list_span">1</span>
			<span id="good_list_span1">0</span>
			<img src="/images/icon_view.gif" alt="" id="img5"/>
			<img src="/images/icon_edit.gif" alt="" id="img6"/>
			<img src="/images/icon_copy.gif" alt="" id="img7"/>
			<img src="/images/icon_trash.gif" alt="" id="img8"/>
		</div>
		<div class="good_list6">
			<input type="checkbox" id="input1"/>247
			<span id="span1">5465465</span>
			<span id="span2">56757</span>
			<span id="span3">0.00</span>
			<img src="/images/yes.gif" alt="" id="img1"/>
			<img src="/images/yes.gif" alt="" id="img2"/>
			<img src="/images/yes.gif" alt="" id="img3"/>
			<img src="/images/yes.gif" alt="" id="img4"/>
			<span>100</span>
			<span id="good_list_span">1</span>
			<span id="good_list_span1">0</span>
			<img src="/images/icon_view.gif" alt="" id="img5"/>
			<img src="/images/icon_edit.gif" alt="" id="img6"/>
			<img src="/images/icon_copy.gif" alt="" id="img7"/>
			<img src="/images/icon_trash.gif" alt="" id="img8"/>
		</div>
		<div class="good_list7">
			<input type="checkbox" id="input1"/>247
			<span id="span1">5465465</span>
			<span id="span2">56757</span>
			<span id="span3">0.00</span>
			<img src="/images/yes.gif" alt="" id="img1"/>
			<img src="/images/yes.gif" alt="" id="img2"/>
			<img src="/images/yes.gif" alt="" id="img3"/>
			<img src="/images/yes.gif" alt="" id="img4"/>
			<span>100</span>
			<span id="good_list_span">1</span>
			<span id="good_list_span1">0</span>
			<img src="/images/icon_view.gif" alt="" id="img5"/>
			<img src="/images/icon_edit.gif" alt="" id="img6"/>
			<img src="/images/icon_copy.gif" alt="" id="img7"/>
			<img src="/images/icon_trash.gif" alt="" id="img8"/>
		</div>
		<div class="good_list8">
			<input type="checkbox" id="input1"/>247
			<span id="span1">5465465</span>
			<span id="span2">56757</span>
			<span id="span3">0.00</span>
			<img src="/images/yes.gif" alt="" id="img1"/>
			<img src="/images/yes.gif" alt="" id="img2"/>
			<img src="/images/yes.gif" alt="" id="img3"/>
			<img src="/images/yes.gif" alt="" id="img4"/>
			<span>100</span>
			<span id="good_list_span">1</span>
			<span id="good_list_span1">0</span>
			<img src="/images/icon_view.gif" alt="" id="img5"/>
			<img src="/images/icon_edit.gif" alt="" id="img6"/>
			<img src="/images/icon_copy.gif" alt="" id="img7"/>
			<img src="/images/icon_trash.gif" alt="" id="img8"/>
		</div>
		<div class="good_list9">
			<input type="checkbox" id="input1"/>247
			<span id="span1">5465465</span>
			<span id="span2">56757</span>
			<span id="span3">0.00</span>
			<img src="/images/yes.gif" alt="" id="img1"/>
			<img src="/images/yes.gif" alt="" id="img2"/>
			<img src="/images/yes.gif" alt="" id="img3"/>
			<img src="/images/yes.gif" alt="" id="img4"/>
			<span>100</span>
			<span id="good_list_span">1</span>
			<span id="good_list_span1">0</span>
			<img src="/images/icon_view.gif" alt="" id="img5"/>
			<img src="/images/icon_edit.gif" alt="" id="img6"/>
			<img src="/images/icon_copy.gif" alt="" id="img7"/>
			<img src="/images/icon_trash.gif" alt="" id="img8"/>
		</div>
		<div class="good_list10">
			<input type="checkbox" id="input1"/>247
			<span id="span1">5465465</span>
			<span id="span2">56757</span>
			<span id="span3">0.00</span>
			<img src="/images/yes.gif" alt="" id="img1"/>
			<img src="/images/yes.gif" alt="" id="img2"/>
			<img src="/images/yes.gif" alt="" id="img3"/>
			<img src="/images/yes.gif" alt="" id="img4"/>
			<span>100</span>
			<span id="good_list_span">1</span>
			<span id="good_list_span1">0</span>
			<img src="/images/icon_view.gif" alt="" id="img5"/>
			<img src="/images/icon_edit.gif" alt="" id="img6"/>
			<img src="/images/icon_copy.gif" alt="" id="img7"/>
			<img src="/images/icon_trash.gif" alt="" id="img8"/>
		</div>
	</div>
</body>
</html>