<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="/stylesheets/commodity.css">
</head>
<body>
	<h1><%= ttt%></h1>
	<div class="box1">
		<span class="span1">ECSHOP管理中心 -</span>
		<b>商品列表</b>
		<span>
			<img src="/images/jnsy.png"/>
		</span>
		<span class="span2">商品列表</span>
	</div>
	<div class="box2_list2">
		<ul id="ul1">
			<li class="li1">通用信息</li>
			<li>详细描述</li>
			<li>其他信息</li>
			<li>商品属性</li>
			<li>商品相册</li>
			<li>关联商品</li>
			<li>配件</li>
			<li>关联文章</li>
		</ul>
		<ol id="ol1">
			<li>
				<span>商品名称:</span>
				<input type="text">
				<img src="/images/color_selecter.gif"/>
				<select>
					<option>字体样式<option>
					<option value="">加粗</option>
					<option value="">斜体</option>
					<option value="">下划线</option>
					<option value="">删除线</option>	
				</select>
				<div class="li_box2">
					<span>商品名称:</span>
					<input type="text">
					<p>如果您不输入商品货号，系统将自动生成一个唯一的货号。</p>
				</div>
				<div class="li_box3">
					<span>商品分类:</span>
					<select>
						<option>请选择...</option>
					</select>
					<span class="span2">添加分类</span>
				</div>
				<div class="li_box4">
					<span class="span1">扩展分类:</span>
					<span class="span2">添加</span>
				</div>
				<div class="li_box5">
					<span class="span1">商品品牌:</span>
					<select>
						<option>请选择...</option>
					</select>
					<span class="span2">添加品牌</span>
				</div>
				<div class="li_box6">
					<span class="span1">本店售价:</span>
					<input type="text" placeholder="0"/>
					<span class="span2">按市场价计算</span>
				</div>
				<div class="li_box7">
					<span class="span1">本店售价:</span>
					<input type="text" placeholder="0"/>
					<span class="span2">按市场价计算</span>
				</div>
				<div class="li_box8">
					<span class="span1">本店售价:</span>
					<input type="text" placeholder="0"/>
					<span class="span2">按市场价计算</span>
				</div>
				<div class="li_box9">
					<span class="span1">本店售价:</span>
					<input type="text" placeholder="0"/>
					<span class="span2">按市场价计算</span>
				</div>
				<div class="li_box10">
					<span class="span1">本店售价:</span>
					<input type="text" placeholder="0"/>
					<span class="span2">按市场价计算</span>
				</div>
				<div class="li_box11">
					<span class="span1">本店售价:</span>
					<input type="text" placeholder="0"/>
					<span class="span2">按市场价计算</span>
				</div>
				<div class="li_box12">
					<span class="span1">本店售价:</span>
					<input type="text" placeholder="0"/>
					<span class="span2">按市场价计算</span>
				</div>
				<div class="li_box13">
					<span class="span1">本店售价:</span>
					<input type="text" placeholder="0"/>
					<span class="span2">按市场价计算</span>
				</div>
				<div class="li_box14">
					<span class="span1">本店售价:</span>
					<input type="text" placeholder="0"/>
					<span class="span2">按市场价计算</span>
				</div>
				<div class="li_box15">
					<span class="span1">本店售价:</span>
					<input type="text" placeholder="0"/>
					<span class="span2">按市场价计算</span>
				</div>
				<div class="li_box16">
					<span class="span1">上传商品图片:</span>
					<span class="span2">选择文件</span>
					<span class="span3">未选择任何文件</span>
					<input type="text">
				</div>
			</li>
			<li>
				<span>商品名称:</span>
				<input type="text">
				<img src="/images/color_selecter.gif"/>
				<select>
					<option>字体样式<option>
					<option value="">加粗</option>
					<option value="">斜体</option>
					<option value="">下划线</option>
					<option value="">删除线</option>	
				</select>
				<div class="li_box2">
					<span>商品名称:</span>
					<input type="text">
					<p>如果您不输入商品货号，系统将自动生成一个唯一的货号。</p>
				</div>
				<div class="li_box3">
					<span>商品分类:</span>
					<select>
						<option>请选择...</option>
					</select>
					<span class="span2">添加分类</span>
				</div>
				<div class="li_box4">
					<span class="span1">扩展分类:</span>
					<span class="span2">添加</span>
				</div>
				<div class="li_box5">
					<span class="span1">商品品牌:</span>
					<select>
						<option>请选择...</option>
					</select>
					<span class="span2">添加品牌</span>
				</div>
				<div class="li_box6">
					<span class="span1">本店售价:</span>
					<input type="text" placeholder="0"/>
					<span class="span2">按市场价计算</span>
				</div>
			</li>
			<li>
				<span>商品重量:</span>
				<input type="text">
				<img src="/images/color_selecter.gif"/>
				<select>
					<option>字体样式<option>
					<option value="">加粗</option>
					<option value="">斜体</option>
					<option value="">下划线</option>
					<option value="">删除线</option>	
				</select>
				<div class="li_box2">
					<span>商品库存量:</span>
					<input type="text">
					<p>如果您不输入商品货号，系统将自动生成一个唯一的货号。</p>
				</div>
				<div class="li_box3">
					<span>商品分类:</span>
					<select>
						<option>请选择...</option>
					</select>
					<span class="span2">添加分类</span>
				</div>
				<div class="li_box4">
					<span class="span1">扩展分类:</span>
					<span class="span2">添加</span>
				</div>
				<div class="li_box5">
					<span class="span1">商品品牌:</span>
					<select>
						<option>请选择...</option>
					</select>
					<span class="span2">添加品牌</span>
				</div>
				<div class="li_box6">
					<span class="span1">本店售价:</span>
					<input type="text" placeholder="0"/>
					<span class="span2">按市场价计算</span>
				</div>
			</li>
			<li id="li4">
				<span id="span1">商品类型:</span>
				<select id="select1">
					<option>请选择商品类型</option>
				</select>
				<p id="p1">请选择商品的所属类型，进而完善此商品的属性</p>
				<a href="#" id="a1">确定</a>
				<a href="#" id="a2">重置</a>
			</li>
			<li>
				商品名：<input type="text" id="goods_name" /><br/>
				
				图片：<input type="file" id="img" /><br/>
				
				
				<a href="#" id="a3" onclick="upload()">确定</a>
				<a href="#" id="a4">重置</a>
			</li>
			<li>
				<span id="span1">商品类型:</span>
				<select id="select1">
					<option>请选择商品类型</option>
				</select>
				<p id="p1">请选择商品的所属类型，进而完善此商品的属性</p>
				<a href="#" id="a1">确定</a>
				<a href="#" id="a2">重置</a>
			</li>
			<li>
				<span id="span2">图片描述</span>
				<input type="text" id="input2">
				<span id="span3">上传文件</span>
				<span id="span4">选择文件</span>
				<span id="span5">未选择任何文件</span>
				<a href="#" id="a3">确定</a>
				<a href="#" id="a4">重置</a>
			</li>
			<li>
				<span id="span1">商品类型:</span>
				<select id="select1">
					<option>请选择商品类型</option>
				</select>
				<p id="p1">请选择商品的所属类型，进而完善此商品的属性</p>
				<a href="#" id="a1">确定</a>
				<a href="#" id="a2">重置</a>
			</li>
		</ol>
	</div>
</body>
<script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/commodity.js"></script>
<script type="text/javascript">
	function upload() {
		var form = new FormData(); // FormData是H5新特性
		form.append("goods_name", document.getElementById("goods_name").value);
		//form.append("price", document.getElementById("price").value);
		form.append("img", document.getElementById("img").files[0]);

		var xhr = new XMLHttpRequest();
		xhr.open("POST", "/api/goods_upload");
		xhr.onreadystatechange = function(res){
			if (xhr.readyState==4 && xhr.status==200) {
				console.log(xhr.responseText);
				var res = JSON.parse(xhr.responseText);
				alert(res.message);
			}
		}
		xhr.send(form);
	}
</script>
</html>